.labyrinth {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.5rem;
  width: fit-content;
}

.info {
  display: flex;
  padding: 1rem 0;
  position: relative;
  
  &__status {
    font-weight: bold;
    flex-basis: 50%;

    &__lost {
      color: #FF342D;
    }

    &__won {
      color: #4F9C49;
    }
  }

  &__moves {
    flex-basis: 50%;
    text-align: right;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}