.cell {
  align-items: center;
  background: #D3D3D3;
  border: 1px solid #333;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;

  &.available {
    background: #fff;
  }
  &.start {
    background: #FEFF00;
  }
  &.target {
    background: #90ED8F;
  }
}

.token {
  border-radius: 50%;
  border: 4px solid #333;
  display: block;
  height: 50%;
  width: 50%;
}