.board {
  display: grid;
  height: fit-content;
  overflow: hidden;
  position: relative;
  width: fit-content;
  
  &__fog { 
    position: absolute;
    height: 200%;
    background: radial-gradient(circle, transparent 35px, rgba(0,0,0,1) 70px);
    width: 200%;
    content: ' ';
  }
}