.board {
  display: grid;
  height: fit-content;
  overflow: hidden;
  position: relative;
  width: fit-content;

  &__fog {
    background: radial-gradient(circle, transparent 35px, rgba(0, 0, 0, 1) 70px);
    content: ' ';
    height: 200%;
    position: absolute;
    width: 200%;
  }
}